<div ng-controller="MessageController" style="padding-left: 20px; padding-right: 20px">
    <div class="container">
        <label for="message">Greeting message:</label>
        <input id="message" type="text" class="input-large" ng-model="message.info"
               placeholder="Fill in with greeting message...">
        <button type="submit" ng-click="submitGreeting()">Submit greeting</button>

        <div>
            <colorable msg="{{message.info}}"/>
        </div>
        <label for="numberContentInfo">Example of usage filter "greeting" for value:</label>
        <input id="numberContentInfo" type="text" class="input-medium" ng-model="number" placeholder="Number ID...">
        <h2>{{1 | greeting}}</h2>

    </div>
</div>